@font-face {
  font-family: "Graphik-Regular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/125432/Graphik-Regular.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Akzidenz-Grotesk BQ Extended";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/125432/akzidenzgrotesk-extended-webfont.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Akzidenz-Grotesk BQ Extended Bold";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/125432/akzidenzgrotesk-boldextended-webfont.woff");
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Graphik-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

body:after {
  background-color: black;
  bottom: -500px;
  content: "";
  height: 500px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1000;
}

body:before {
  background-color: #0830FF;
  top: -500px;
  content: "";
  height: 500px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1000;
}

main {
  overflow: hidden;
}

.cta {
  color: inherit;
  display: inline-block;
  font-family: "Graphik-Regular";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5555555556;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
@media (min-width: 1400px) {
  .cta {
    font-size: 18px;
  }
}
.cta:after {
  border-top: 1px solid;
  bottom: 5px;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

.section {
  padding-bottom: 150px;
  padding-left: 9.375vw;
  padding-right: 9.375vw;
  padding-top: 150px;
}
@media (min-width: 1600px) {
  .section {
    padding-bottom: 300px;
    padding-left: 9.375vw;
    padding-right: 9.375vw;
    padding-top: 300px;
  }
}

.section--flush-gutters {
  margin-left: -9.375vw;
  margin-right: -9.375vw;
}
@media (min-width: 700px) {
  .section--flush-gutters {
    margin-left: -9.375vw;
    margin-right: -9.375vw;
  }
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.title {
  color: #333333;
  font-family: "Akzidenz-Grotesk BQ Extended";
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.1666666667;
}
@media (min-width: 1400px) {
  .title {
    font-size: 48px;
  }
}
@media (min-width: 1700px) {
  .title {
    font-size: 60px;
  }
}

.nav__link {
  color: inherit;
  display: none;
  font-family: "Graphik-Regular";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.nav__link:before {
  background: white;
  bottom: -5px;
  height: 1px;
  left: -15px;
  content: "";
  margin-bottom: -3px;
  position: absolute;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out, height 300ms ease-in-out;
  transition-delay: 300ms, 0ms;
  width: calc(100% + 32px);
  will-change: transform;
  z-index: -1;
}
.nav__link:hover {
  color: #0830FF;
  transition-delay: 400ms;
}
.nav__link:hover:before {
  height: 36px;
  transform: scaleX(1);
  transition-delay: 0ms, 300ms;
}
@media (min-width: 800px) {
  .nav__link {
    display: inline-block;
  }
}
.nav__link + .nav__link {
  margin-left: 44px;
}

.nav-scroll__link:hover {
  color: #151515;
}

.logo {
  position: relative;
}
.logo svg {
  display: block;
}

.logo__text {
  display: none;
  padding-top: 25px;
  position: absolute;
  right: 0;
  top: 100%;
}
.logo__text .nav-scroll__link:hover {
  color: #151515;
}
@media (min-width: 800px) {
  .logo__text {
    display: block;
  }
}

.nav,
.header__menu,
.logo--top {
  -webkit-animation: 400ms headerLoad forwards 1 ease-in 1250ms;
          animation: 400ms headerLoad forwards 1 ease-in 1250ms;
  opacity: 0;
  transform: translate3d(0, 7px, 0);
}

.header-scroll .nav,
.header-scroll .logo {
  -webkit-animation: none;
          animation: none;
  opacity: 1;
  transform: none;
}

@-webkit-keyframes headerLoad {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes headerLoad {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.header {
  color: #fff;
  padding: 70px 0 54px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header--top {
  transform-origin: center top;
  z-index: 3;
}

.header__wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 81.25%;
}

.header-scroll {
  background-color: #151515;
  background-color: rgba(21, 21, 21, 0.95);
  color: #fff;
  padding-bottom: 22px;
  padding-top: 22px;
  pointer-events: none;
  position: fixed;
  transform: translate3d(0, -200%, 0);
  transition: all 450ms ease-in-out;
  will-change: transform;
  z-index: 101;
}
@media (max-width: 799px) {
  .menu--active[data-menu-button-type=scroll] .header-scroll {
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
  }
}

.header-scroll .header__menu {
  -webkit-animation: none;
          animation: none;
  opacity: 1;
  transform: none;
}

.header-scroll__wrap {
  justify-content: space-between;
}

.header-scroll--reveal {
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
}

.hero {
  background-color: #0830FF;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 260px 5% 205px;
  padding: 0 5%;
  min-height: 100vh;
  max-height: 800px;
  text-align: center;
}

@-webkit-keyframes heroLoad {
  to {
    transform: scaleY(0);
  }
}

@keyframes heroLoad {
  to {
    transform: scaleY(0);
  }
}
.hero__info {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.hero__info[data-scroll-item] {
  opacity: 1;
  transform: none;
  transition: none;
}
@media (min-width: 800px) {
  .hero__info {
    padding-top: 100px;
  }
}
@media (min-width: 1000px) {
  .hero__info {
    padding-bottom: 305px;
    padding-top: 360px;
  }
}
@media (min-width: 1400px) {
  .hero__info {
    padding-top: 420px;
  }
}
@media (min-height: 1050px) {
  .hero__info {
    padding: 0;
  }
}

.hero__bg {
  -webkit-animation: 500ms heroLoad forwards 1 ease-in 500ms;
          animation: 500ms heroLoad forwards 1 ease-in 500ms;
  background: black;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center top;
  z-index: 1;
}

.hero__copy {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 255px;
  opacity: 0;
  text-align: center;
  transform: translateY(60px);
  transition: opacity 450ms ease-in-out, transform 450ms ease-in-out;
  transition-delay: 800ms, 800ms;
}
.hero__info.in-view .hero__copy {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 400px) {
  .hero__copy {
    max-width: 360px;
  }
}
@media (min-width: 480px) {
  .hero__copy {
    font-size: 18px;
    max-width: 470px;
  }
}
@media (min-width: 1000px) {
  .hero__copy {
    font-size: 19px;
    max-width: 450px;
  }
}
@media (min-width: 1400px) {
  .hero__copy {
    font-size: 22px;
    max-width: 550px;
  }
}

.hero__copy-wrap {
  display: block;
}

@media (min-width: 400px) {
  .hero__title-br--small {
    display: none;
  }
}

.hero__title-br--medium {
  display: none;
}
@media (min-width: 400px) {
  .hero__title-br--medium {
    display: inline;
  }
}

.hero__title {
  color: #fff;
  font-family: "Akzidenz-Grotesk BQ Extended Bold";
  line-height: 1.111;
  margin: 0 auto 43px;
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 450ms ease-in-out, transform 450ms ease-in-out;
  transition-delay: 800ms, 800ms !important;
  font-size: 28px;
  margin-bottom: 20px;
  max-width: 320px;
}
.hero__info.in-view .hero__title {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 400px) {
  .hero__title {
    max-width: none;
  }
}
@media (min-width: 480px) {
  .hero__title {
    font-size: 36px;
    margin-bottom: 30px;
  }
}
@media (min-width: 500px) {
  .hero__title {
    font-size: 40px;
  }
}
@media (min-width: 700px) {
  .hero__title {
    font-size: 48px;
  }
}
@media (min-width: 1000px) {
  .hero__title {
    font-size: 60px;
    margin-bottom: 43px;
  }
}
@media (min-width: 1400px) {
  .hero__title {
    font-size: 90px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1700px) {
  .hero__title {
    font-size: 90px;
  }
}

.company {
  background-color: #151515;
  color: #fff;
}
@media (min-width: 1400px) {
  .company {
    padding-bottom: 300px;
  }
}

.company__copy {
  color: inherit;
  margin: 0 auto;
  max-width: 773px;
  text-align: center;
}

.company__copy--large {
  line-height: 28px;
  margin-bottom: 100px;
  margin-left: 0;
  max-width: 850px;
  text-align: left;
}
@media (min-width: 1400px) {
  .company__copy--large {
    font-size: 38px;
    line-height: 60px;
    margin-bottom: 300px;
  }
}

.company__copy--medium {
  line-height: 2;
  max-width: 489px;
}
@media (min-width: 880px) {
  .company__copy--medium {
    max-width: 730px;
  }
}
@media (min-width: 1400px) {
  .company__copy--medium {
    font-size: 22px;
    line-height: 2.27;
    max-width: 1060px;
  }
}

.company__title {
  color: inherit;
  margin: 0 auto 48px;
  max-width: 773px;
  text-align: center;
}

.company__title--large {
  margin-bottom: 40px;
  margin-left: 0;
  max-width: 773px;
  text-align: left;
}
@media (min-width: 1400px) {
  .company__title--large {
    font-size: 60px;
    line-height: 69px;
  }
}

.company > .company__copy {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.company > .company__title {
  margin-left: auto;
}
.company > .section.wrap .company__copy {
  margin-left: 0;
}
.company > .section.wrap .company__title {
  margin-left: 0;
}

.companies {
  color: #fff;
  padding: 0 9.375vw;
}
@media (min-width: 768px) {
  .companies {
    padding: 0 45px;
  }
}
@media (min-width: 1700px) {
  .companies {
    padding: 0 2.8125vw;
  }
}

@media (min-width: 768px) {
  .companies[data-scroll-item] {
    opacity: 0;
    transform: translateY(60px);
    transition: all 600ms ease-out;
    transition: opacity 450ms ease-out, transform 800ms ease-out;
  }
  .companies[data-scroll-item].in-view {
    opacity: 1;
    transform: translateY(0);
  }
  .companies[data-scroll-item] [data-scroll-item] {
    opacity: 1;
    transform: none;
  }
}
.companies__copy {
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.8666666667;
  max-width: 260px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1400px) {
  .companies__copy {
    font-size: 15px;
    max-width: none;
    padding-right: 30px;
  }
}

.companies__image-wrap {
  background-color: #4A4A4A;
  margin-bottom: 31px;
  overflow: hidden;
  position: relative;
}
.companies__image-wrap:before {
  content: "";
  display: block;
  padding-top: 85%;
}

.companies__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transition: 500ms transform ease-in-out;
  will-change: transform;
}

.companies__info {
  margin-bottom: 20px;
}

.companies__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .companies__items {
    flex-direction: row;
    margin-left: -30px;
    max-width: none;
  }
}
@media (min-width: 1400px) {
  .companies__items {
    margin-bottom: 275px;
  }
}

.companies__item {
  margin-bottom: 75px;
  width: 100%;
}
.companies__item:last-of-type {
  margin-bottom: 0;
}
.companies__item:hover .companies__image {
  transform: scale(1.02);
  transition: 250ms transform ease-in-out;
}
@media (min-width: 768px) {
  .companies__item {
    margin-bottom: 0;
    margin-left: 30px;
    width: calc(33.333% - 30px);
  }
  .companies__item:nth-child(2) {
    margin-bottom: 0;
    margin-top: 45px;
  }
}

@media (min-width: 768px) {
  .companies__item + .companies__item {
    margin-left: 30px;
  }
}

.companies__location {
  color: #BCBCBC;
  display: block;
  margin-bottom: 17px;
  margin-top: 14px;
}
@media (min-width: 1700px) {
  .companies__location {
    font-size: 20px;
    margin-bottom: 31px;
    margin-top: 8px;
  }
}

.companies__media {
  margin-bottom: 31px;
}

.companies__name {
  font-family: "Graphik-Regular";
  font-size: 24px;
  color: inherit;
  display: block;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: 8px;
}
@media (min-width: 1400px) {
  .companies__name {
    margin-bottom: 19px;
  }
}

.companies__title {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: 30px;
}
@media (min-width: 900px) {
  .companies__title {
    margin-bottom: 60px;
  }
}
@media (min-width: 1500px) {
  .companies__title {
    font-size: 18px;
  }
}

.companies__url {
  border-bottom: 1px solid #bcbcbc;
  color: inherit;
  display: inline-block;
  font-size: 11px;
  padding-bottom: 3px;
  text-decoration: none;
}
@media (min-width: 1700px) {
  .companies__url {
    font-size: 12px;
  }
}

.engagement {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
@media (min-width: 1600px) {
  .engagement {
    padding-left: 0;
    padding-right: 0;
  }
}

.engagement__copy {
  color: #333;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.8666666667;
  margin: 0 auto 76px;
  max-width: 470px;
  max-width: 290px;
  text-align: center;
}
@media (min-width: 500px) {
  .engagement__copy {
    max-width: 420px;
  }
}
@media (min-width: 768px) {
  .engagement__copy {
    max-width: 803px;
    max-width: 640px;
  }
}
@media (min-width: 1400px) {
  .engagement__copy {
    font-size: 15px;
    margin-bottom: 110px;
    max-width: 730px;
  }
}

.engagement__title {
  margin-bottom: 34px;
}

.engagement__item {
  margin: 0 auto 75px;
  max-width: 242px;
  padding: 0 2.5%;
  text-align: center;
  width: 100%;
}
@media (min-width: 400px) {
  .engagement__item {
    max-width: 310px;
  }
}
@media (min-width: 500px) {
  .engagement__item {
    margin-left: 30px;
    margin-right: 0;
    max-width: none;
    padding: 0;
    width: calc(50% - 30px);
  }
}
@media (min-width: 750px) {
  .engagement__item {
    width: calc(33.333% - 30px);
  }
}
@media (min-width: 1050px) {
  .engagement__item {
    margin-bottom: 152px;
    padding: 0 10px;
    width: calc(25% - 30px);
  }
}
@media (min-width: 1700px) {
  .engagement__item {
    padding: 0 23px;
  }
}

.engagement__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}
@media (min-width: 500px) {
  .engagement__items {
    flex-direction: row;
    margin-left: -30px;
  }
}

.engagement__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 23px;
  min-height: 67px;
}
@media (min-width: 1050px) {
  .engagement__logo {
    margin-bottom: 33px;
  }
}

.engagement__text {
  color: #9B9B9B;
  font-family: "Graphik-Regular";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 2.1333333333;
  opacity: 0.6;
  text-align: center;
}
@media (min-width: 1400px) {
  .engagement__text {
    font-size: 15px;
  }
}

.engagement__wrap {
  margin: 0 auto;
  padding-top: 0;
  max-width: 1600px;
  width: 81.25%;
}

.wwd {
  padding-bottom: 0;
}
@media (min-width: 1400px) {
  .wwd {
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .wwd__col {
    width: calc(50% - 15px);
  }
}

@media (min-width: 768px) {
  .wwd__col--snippet {
    margin-top: 147px;
    width: calc(41.66666667% - 15px);
  }
}
@media (min-width: 900px) {
  .wwd__col--snippet {
    margin-top: 153px;
  }
}
@media (min-width: 1400px) {
  .wwd__col--snippet {
    margin-top: 211px;
  }
}
@media (min-width: 1500px) {
  .wwd__col--snippet {
    margin-top: 209px;
  }
}
@media (min-width: 1700px) {
  .wwd__col--snippet {
    margin-top: 239px;
  }
}

.wwd__info {
  max-width: 514px;
}

.wwd__info__copy {
  color: #333;
  font-family: Graphik-Regular;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 28px;
}
@media (min-width: 768px) {
  .wwd__info__copy {
    max-width: 300px;
  }
}
@media (min-width: 1500px) {
  .wwd__info__copy {
    font-size: 18px;
    max-width: 320px;
  }
}

.wwd__info__title {
  color: #333333;
  display: block;
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 28px;
}
@media (min-width: 1500px) {
  .wwd__info__title {
    font-size: 30px;
  }
}

.wwd__items {
  color: #BCBCBC;
  font-size: 24px;
  letter-spacing: 0;
  list-style: none;
  margin-bottom: 100px;
}
@media (min-width: 900px) {
  .wwd__items {
    font-size: 32px;
  }
}
@media (min-width: 1700px) {
  .wwd__items {
    font-size: 48px;
  }
}

.wwd__item {
  margin-bottom: 10px;
}
@media (min-width: 900px) {
  .wwd__item {
    margin-bottom: 20px;
  }
}

.wwd__item--active {
  color: #333;
}

.wwd__label {
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 35px;
}
@media (min-width: 1400px) {
  .wwd__label {
    margin-bottom: 65px;
  }
}
@media (min-width: 1500px) {
  .wwd__label {
    font-size: 18px;
    max-width: 320px;
  }
}

.wwd__link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
.wwd__link:hover {
  color: #333;
}

.wwd__title {
  margin-bottom: 46px;
}
@media (min-width: 1400px) {
  .wwd__title {
    margin-bottom: 55px;
  }
}

@media (min-width: 768px) {
  .wwd__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.showcases {
  padding-bottom: 0;
}
@media (min-height: 1000px) and (min-width: 1700px) {
  .showcases {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.showcase {
  display: block;
  margin-bottom: 50px;
  padding-top: 50px;
}
.showcase:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 1700px) {
  .showcase {
    margin-bottom: 150px;
  }
}

.showcase:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .showcase__col {
    width: calc(50% - 15px);
  }
}

.showcase__copy {
  color: #333333;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.8666666667;
  margin-bottom: 35px;
  max-width: 514px;
}
@media (min-width: 768px) {
  .showcase__copy {
    width: 85%;
  }
}
@media (min-width: 1400px) {
  .showcase__copy {
    font-size: 15px;
    padding-right: 30px;
    width: 100%;
  }
}
@media (min-width: 1700px) {
  .showcase__copy {
    font-size: 20px;
    line-height: 1.4;
  }
}

.showcase__headline {
  color: #BCBCBC;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 2;
  margin-bottom: 13px;
}
@media (min-width: 1400px) {
  .showcase__headline {
    font-size: 15px;
  }
}

.showcase__headline ~ .showcase__headline {
  margin-top: 33px;
}

.showcase__image {
  background-color: #9B9B9B;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 31px;
}
.showcase__image:before {
  content: "";
  display: block;
  padding-top: 85%;
}
@media (min-width: 768px) {
  .showcase__image:before {
    padding-top: 140.350877193%;
  }
}
@media (min-width: 1400px) {
  .showcase__image:before {
    padding-top: 100%;
  }
}
@media (min-width: 768px) {
  .showcase__image {
    margin-bottom: 0;
  }
}

@media (min-width: 1400px) {
  .showcase__image--portrait:before {
    padding-top: 140.350877193%;
  }
}

@media (min-width: 768px) {
  .showcase__info-wrap {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    padding-right: 30px;
    padding-top: 8.25%;
  }
}
@media (min-width: 1900px) {
  .showcase__info-wrap {
    padding-top: 18%;
  }
}

.showcase__items {
  color: #BCBCBC;
  font-family: "Graphik-Regular";
  font-size: 14px;
  list-style: none;
  letter-spacing: 0;
}
@media (min-width: 1400px) {
  .showcase__items {
    font-size: 17px;
  }
}
@media (min-width: 1700px) {
  .showcase__items {
    font-size: 24px;
  }
}

.showcase__item {
  margin-bottom: 10px;
}
@media (min-width: 1500px) {
  .showcase__item {
    margin-bottom: 20px;
  }
}

.showcase__list {
  list-style: none;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.5555555556;
}
@media (min-width: 1400px) {
  .showcase__list {
    font-size: 18px;
  }
}

.showcase__media {
  flex-shrink: 0;
  position: relative;
}

.showcase__title {
  display: block;
  margin-bottom: 18px;
}
@media (min-width: 1000px) {
  .showcase__title {
    font-size: 48px;
    margin-bottom: 28px;
  }
}

.showcase__video {
  bottom: 0;
  overflow: hidden;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.showcase__video:before {
  content: "";
  display: block;
  padding-top: 85%;
}
@media (min-width: 768px) {
  .showcase__video:before {
    padding-top: 100%;
  }
}

@media (min-width: 768px) {
  .showcase__video--portrait:before {
    padding-top: 140.350877193%;
  }
}

.showcase__video video {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

@media (min-width: 768px) {
  .showcase__wrap {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .showcase:nth-of-type(odd) .showcase__info-wrap {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .showcase:nth-of-type(even) .showcase__info-wrap {
    padding-right: 0;
    width: 65.3%;
  }
}

.showcase:nth-of-type(odd) .showcase__wrap {
  flex-direction: row-reverse;
}

.showcase--last-light {
  padding-bottom: 250px;
}
@media (min-width: 1700px) {
  .showcase--last-light {
    padding-bottom: 50px;
  }
}

.showcase--dark {
  margin-left: -9.375vw;
  margin-right: -9.375vw;
  padding-left: 9.375vw;
  padding-right: 9.375vw;
  background-color: #1B1B1B;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 0;
}
@media (min-width: 700px) {
  .showcase--dark {
    margin-left: -9.375vw;
    margin-right: -9.375vw;
  }
}
@media (min-width: 700px) {
  .showcase--dark {
    padding-left: 9.375vw;
    padding-right: 9.375vw;
  }
}
.showcase--dark .showcase__wrap {
  width: 100%;
}

.showcase__copy--dark {
  color: inherit;
  margin-bottom: 33px;
}

.showcase__title--dark {
  color: inherit;
}

.people {
  padding-bottom: 100px;
  padding-left: 9.375vw;
  padding-right: 9.375vw;
  padding-top: 100px;
}
@media (min-width: 1600px) {
  .people {
    padding-left: 9.375vw;
    padding-right: 9.375vw;
  }
}
@media (min-width: 1400px) {
  .people {
    padding-top: 140px;
  }
}

.people__copy {
  color: #BCBCBC;
  display: block;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 100px;
  position: relative;
}
@media (min-width: 900px) {
  .people__copy {
    font-size: 32px;
  }
}
@media (min-width: 1050px) {
  .people__copy {
    width: calc((((100% - (11 * 30px)) / 12) * 9) + (30px * 8));
  }
}
@media (min-width: 1700px) {
  .people__copy {
    font-size: 48px;
  }
}

@media (min-width: 1050px) {
  .people__items-wrap {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}

.people__items {
  list-style-type: none;
}
@media (min-width: 500px) {
  .people__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.people__item {
  color: #9B9B9B;
  font-family: "Graphik-Regular";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.5555555556;
  margin-bottom: 50px;
}
@media (min-width: 500px) {
  .people__item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    width: calc(50% - 30px);
  }
}
@media (min-width: 750px) {
  .people__item {
    margin-bottom: 76px;
    width: calc(33.333% - 30px);
  }
}
@media (min-width: 1050px) {
  .people__item {
    width: calc(25% - 30px);
  }
  .people__item:nth-child(1) {
    margin-left: calc(25% + 30px);
  }
  .people__item:nth-child(2n+4) {
    margin-left: calc(50% + 30px);
  }
}
@media (min-width: 1400px) {
  .people__item {
    font-size: 18px;
  }
}

.people__name {
  color: #333333;
  display: block;
  font-weight: normal;
  margin-bottom: 11px;
  width: 100%;
}

.people__title {
  margin-bottom: 30px;
}
@media (min-width: 900px) {
  .people__title {
    margin-bottom: 158px;
  }
}

.grid-overlay {
  bottom: 0;
  display: flex;
  left: 50%;
  max-width: 1600px;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  transform-origin: center top;
  transition: all 400ms ease-in-out;
  width: 81.25%;
  z-index: 100;
}
.grid-overlay.grid--off {
  opacity: 0;
}

.grid-overlay__col {
  background-color: rgba(0, 128, 0, 0.06);
  margin-left: 30px;
  transition: all 300ms ease-in-out;
  width: 8.33333%;
}
.grid-overlay__col:first-child {
  margin-left: 0;
}

.grid--off .grid-overlay__col {
  transform: translateY(100%);
}
.grid--off .grid-overlay__col--2, .grid--off .grid-overlay__col--6, .grid--off .grid-overlay__col--8, .grid--off .grid-overlay__col--10, .grid--off .grid-overlay__col--12 {
  transition-delay: 150ms;
}
.grid--off .grid-overlay__col--3, .grid--off .grid-overlay__col--5, .grid--off .grid-overlay__col--7, .grid--off .grid-overlay__col--9, .grid--off .grid-overlay__col--11 {
  transition-delay: 100ms;
}

.grid-overlay__toggle {
  background: none;
  box-shadow: none;
  border: 0;
  bottom: 10px;
  cursor: pointer;
  height: 20px;
  left: 10px;
  opacity: 0.1;
  outline: 0;
  position: fixed;
  transition: all 250ms ease-in-out;
  width: 15px;
  z-index: 100;
}
.grid-overlay__toggle:hover {
  opacity: 0.2;
}
.grid-overlay__toggle:hover .grid-overlay__toggle__line {
  transform: scaleY(1.3);
}
.grid-overlay__toggle__line {
  background-color: green;
  bottom: 0;
  position: absolute;
  height: 100%;
  transform-origin: left bottom;
  transition: all 250ms ease-in-out;
  width: 3px;
}
.grid-overlay__toggle__line--1 {
  left: 0;
}
.grid-overlay__toggle__line--2 {
  margin-left: -1px;
  left: 50%;
  transition-delay: 150ms;
}
.grid-overlay__toggle__line--3 {
  margin-left: -1px;
  left: 100%;
  transition-delay: 100ms;
}

.grid-overlay__toggle.grid---off {
  opacity: 0;
}

.news {
  padding-bottom: 260px;
  padding-top: 50px;
}

@media (min-width: 1400px) {
  .news {
    padding-bottom: 280px;
  }
}
.news__date {
  color: #9B9B9B;
  display: block;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 1.7857142857;
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .news__date {
    font-size: 14px;
  }
}
.news__header {
  background-color: #fff;
  margin-bottom: 75px;
  position: relative;
  z-index: 1;
  height: 0;
}

@media (min-width: 900px) {
  .news__header {
    margin-bottom: 95px;
  }
}
@media (min-width: 1050px) {
  .news__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    flex-shrink: 0;
    margin-right: 30px;
    width: calc((((100% - (11 * 30px)) / 12) * 4) + (30px * 3));
  }

  .news__header:before {
    background-color: #fff;
    bottom: -80px;
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    width: 50vw;
    z-index: -1;
  }
}
.news__image {
  background-color: #4A4A4A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}

@media (min-width: 1600px) {
  .news__image {
    margin-bottom: 42px;
  }
}
.news__image:before {
  content: "";
  display: block;
  padding-top: 85%;
}

.news__items {
  display: flex;
  list-style: none;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.news__item {
  -webkit-animation: 300ms fadeIn ease-in-out 1 forwards;
          animation: 300ms fadeIn ease-in-out 1 forwards;
  flex-shrink: 0;
  margin-left: 30px;
  opacity: 0;
  width: 100%;
}

@media (min-width: 500px) {
  .news__item {
    margin-left: 30px;
    width: calc(100%/2 - 15px);
  }
}
@media (min-width: 750px) {
  .news__item {
    margin-left: 30px;
    width: calc(100%/3 - 20px);
  }
}
.news__items figure {
  transition: all 0.25s ease;
}

.news__items figure.hidden {
  opacity: 0;
}

.news__items figure.prev {
  transition: all 0.25s ease;
  transition-delay: 0.25s;
}

.news__items figure.prev.hidden {
  transition: none;
  transition-delay: none;
  opacity: 0;
}

.news__name {
  font-family: Graphik-Regular;
  font-size: 15px;
  font-weight: normal;
  color: #333333;
  letter-spacing: 0;
  line-height: 1.5;
}

@media (min-width: 1600px) {
  .news__name {
    font-size: 24px;
  }
}
.news__wrap {
  width: 81.25%;
}

@media (min-width: 1050px) {
  .news__wrap {
    display: flex;
  }
}
.news-carousel {
  position: relative;
  width: 100%;
}

@media (min-width: 1050px) {
  .news-carousel {
    left: calc(100%/3 + 10px);
  }
}
.news-carousel .news-carousel__btn {
  background: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.news-carousel .news-carousel__nav {
  align-items: center;
  border: 1px solid #BCBCBC;
  bottom: -100px;
  color: #BCBCBC;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  letter-spacing: 0.24px;
  line-height: 30px;
  min-width: 140px;
  padding: 10px 5px;
  position: absolute;
  text-align: center;
  width: calc((((100% - (11 * 30px)) / 12) * 3) + (30px * 2));
  max-width: calc((((100% - (11 * 30px)) / 12) * 2) + (30px * 1.5));
}

.news-carousel .news-carousel__nav svg {
  display: block;
}

@media (min-width: 1400px) {
  .news-carousel .news-carousel__nav {
    padding: 10px 25px;
  }
}
@media (min-width: 1400px) {
  .news-carousel .news-carousel__counter-wrap {
    margin: 0 9px;
  }
}
.news-carousel .news-carousel__counter {
  display: inline-block;
  text-align: center;
}

.news-carousel .news-carousel__counter--active {
  color: #333333;
  width: 17px;
}

.news-carousel .news-carousel__counter--separator {
  width: 15px;
}

.news-carousel .news-carousel__counter--total {
  width: 17px;
}

.news-carousel .flickity-button {
  display: none;
}

.news-carousel .flickity-viewport {
  width: 100%;
  height: 100%;
}

.newsletter {
  background-color: #3D3D45;
  color: #fff;
  padding: 120px 0 150px;
  position: relative;
}
@media (min-width: 1400px) {
  .newsletter {
    padding: 181px 0 203px;
  }
}

.newsletter__form {
  position: relative;
}
@media (min-width: 500px) {
  .newsletter__form {
    width: calc((((100% - (11 * 30px)) / 12) * 12) + (30px * 11));
  }
}
@media (min-width: 750px) {
  .newsletter__form {
    width: calc((((100% - (11 * 30px)) / 12) * 10) + (30px * 9));
  }
}
@media (min-width: 900px) {
  .newsletter__form {
    width: calc((((100% - (11 * 30px)) / 12) * 8) + (30px * 7));
  }
}
@media (min-width: 1200px) {
  .newsletter__form {
    width: calc((((100% - (11 * 30px)) / 12) * 6) + (30px * 5) + 15px);
  }
}

.newsletter__input {
  color: #333333;
  font-family: "Akzidenz-Grotesk BQ Extended";
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.1666666667;
  background-color: transparent;
  border-width: 0 0 1px;
  color: inherit;
  height: 64px;
  outline: none;
  display: block;
  width: 100%;
}
@media (min-width: 1400px) {
  .newsletter__input {
    font-size: 48px;
  }
}
@media (min-width: 1400px) {
  .newsletter__input {
    height: 80px;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.newsletter__input:focus ~ .newsletter__blinker {
  visibility: hidden;
}

.newsletter__blinker {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: #fff;
  height: 56px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 14px;
  width: 2px;
}

.newsletter__input:focus + label {
  top: -5px;
  transform: scale(0.25);
}

.newsletter__label {
  color: #333333;
  font-family: "Akzidenz-Grotesk BQ Extended";
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.1666666667;
  color: inherit;
  left: 15px;
  position: absolute;
  top: 22px;
  transform-origin: left top;
  transition: all 300ms ease-in-out;
}
@media (min-width: 1400px) {
  .newsletter__label {
    font-size: 48px;
  }
}
@media (min-width: 1400px) {
  .newsletter__label {
    top: 10px;
  }
}

.newsletter__wrap {
  width: 81.25%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 80px #3D3D45 inset;
  -webkit-text-fill-color: #fff !important;
}

.newsletter:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background: #0830FF;
  transition: 300ms;
}
.newsletter.success:before {
  height: 100%;
}

.newsletter__form {
  transition: all 300ms ease-in-out;
}
.newsletter.success .newsletter__form {
  opacity: 0 !important;
  pointer-events: none !important;
}

label.focus {
  top: -5px;
  transform: scale(0.25);
}

.newsletter__messages--success {
  font-family: "Akzidenz-Grotesk BQ Extended";
  font-size: 32px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  width: 82.5%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate3d(0, 40px, 0);
  transform: translate3d(-50%, 40px, 0);
  transition: all 300ms ease-in-out 150ms;
}
.footer.in-view .newsletter.success .newsletter__messages--success {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(-50%, -50%, 0);
}

.newsletter__messages--error {
  transition: 300ms;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  position: absolute;
  bottom: -60px;
}
.newsletter__messages--error.show {
  opacity: 1;
  visibility: visible;
  bottom: -40px;
}
.newsletter__messages--error a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #000;
  overflow: hidden;
}

.footer[data-scroll-item] {
  opacity: 1;
  transform: none;
  transition: none;
}

.footer__copyright {
  color: #FFFFFF;
  flex-basis: 100%;
  flex-shrink: 0;
  font-family: Graphik-Regular;
  font-size: 12px;
  line-height: 20px;
}

.footer__email,
.footer__social-link {
  color: inherit;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.footer__email:focus, .footer__email:hover,
.footer__social-link:focus,
.footer__social-link:hover {
  opacity: 0.5;
}

.footer__email {
  display: inline-block;
  margin-bottom: 33px;
  margin-top: 2px;
}

@media (min-width: 1400px) {
  .footer__info {
    margin-right: 30px;
    width: calc((((100% - (11 * 30px)) / 12) * 3) + (30px * 2));
  }
}

.footer__intro {
  display: block;
  font-weight: normal;
}

.footer__locations {
  margin-bottom: 44px;
}

.footer__social-items {
  list-style: none;
  margin-bottom: 44px;
}

.footer__wrap {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  padding: 141px 9.375%;
  position: relative;
  width: 100%;
}
@media (min-width: 1400px) {
  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1600px) {
  .footer__wrap {
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 82.5%;
  }
}

.footer__social-item + .footer__social-item {
  margin-top: 2px;
}

.logo--footer {
  position: absolute;
  top: 146px;
  right: 9.375%;
  z-index: 1;
}
.logo--footer [fill="#fff"] {
  fill: #0830FF;
}

.footer__wrap > *,
.newsletter__form {
  opacity: 0;
  transform: translateY(60px);
  transition: all 600ms ease-out;
  transition: opacity 400ms ease-out, transform 700ms ease-out;
}
.footer.in-view .footer__wrap > *,
.footer.in-view .newsletter__form {
  opacity: 1;
  transform: translateY(0);
}

.image-carousel {
  margin-bottom: 30px;
  opacity: 0;
}
@media (min-width: 768px) {
  .image-carousel {
    margin-bottom: 0;
  }
}
.image-carousel.revealed {
  transition: all 0.25s ease;
  opacity: 1;
}
.image-carousel__image {
  width: 100%;
}
.image-carousel .flickity-button {
  display: none;
}
.image-carousel .flickity-page-dots {
  bottom: -29px;
  display: flex;
  left: 50%;
  justify-content: center;
  margin: 0 auto;
  min-width: 260px;
  transform: translateX(-50%);
  width: calc(100% - 130px);
}
@media (min-width: 900px) {
  .image-carousel .flickity-page-dots {
    bottom: -63px;
  }
}
@media (min-width: 1700px) {
  .image-carousel .flickity-page-dots {
    bottom: -73px;
  }
}
@media (min-width: 768px) {
  .image-carousel .flickity-page-dots.in-view .dot {
    margin: 0;
  }
}
.image-carousel .flickity-page-dots .dot {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  flex-basis: 12.5%;
  height: 60px;
  margin: 0 20px 0 0;
  opacity: 1;
  position: relative;
  transition: all 400ms ease-in-out;
}
.image-carousel .flickity-page-dots .dot:last-child {
  margin: 0;
}
@media (min-width: 1700px) {
  .image-carousel .flickity-page-dots .dot {
    height: 40px;
  }
}
.image-carousel .flickity-page-dots .dot:after {
  background-color: #cdcdcd;
  bottom: 30px;
  content: "";
  height: 4px;
  position: absolute;
  right: 0;
  left: 0;
  transform-origin: center;
  transform: scaleY(0.5);
  transition: transform 250ms ease;
}
.image-carousel .flickity-page-dots .dot:hover:after {
  transform: scaleY(1);
}
.image-carousel .flickity-page-dots .dot.is-selected:after {
  background-color: #333333;
}
.image-carousel:hover .flickity-page-dots .dot {
  margin: 0 20px 0 0;
}
.image-carousel:hover .flickity-page-dots .dot:last-child {
  margin: 0;
}
.image-carousel:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 60px);
}

[data-scroll-item] {
  opacity: 0;
  transform: translateY(60px);
  transition: all 600ms ease-out;
  transition: opacity 450ms ease-out, transform 800ms ease-out;
}
[data-scroll-item].in-view {
  opacity: 1;
  transform: translateY(0);
}

.bg__item {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 450ms ease-in-out;
}

.bg__item--active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.header__menu {
  background: none;
  border: 0;
  box-shadow: 0;
  display: inline-block;
  height: 20px;
  outline: 0;
  position: relative;
  transition: opacity 0.25s 1.15s ease-in-out, transform 0.75s 1.25s;
  width: 30px;
}
@media (min-width: 800px) {
  .header__menu {
    display: none;
  }
}

.header__menu-line {
  background-color: #fff;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.header__menu-line--01 {
  top: 0;
}
.menu--active .header__menu-line--01 {
  transform: translateY(-50%);
  top: 50%;
  opacity: 0;
}

.header__menu-line--01, .header__menu-line--04 {
  transition: all 0.15s 0.0875s ease-in-out, background-color 0.2s ease-in-out;
}
.menu--active .header__menu-line--01, .menu--active .header__menu-line--04 {
  transition: all 0.0875s ease-in-out, background-color 0.2s ease-in-out, opacity 0.0875s 0.0875s ease-in-out;
}

.header__menu-line--02, .header__menu-line--03 {
  margin-top: -0.5px;
  top: 50%;
  transition: background-color 0.2s ease-in-out, transform 0.15s ease-in-out, opacity 0s 0.15s;
}
.menu--active .header__menu-line--02, .menu--active .header__menu-line--03 {
  transition: background-color 0.2s ease-in-out, transform 0.15s 0.0875s ease-in-out;
}

.menu--active .header__menu-line--02 {
  transform: rotate(45deg);
}

.menu--active .header__menu-line--03 {
  transform: rotate(-45deg);
}

.header__menu-line--04 {
  bottom: 0;
}
.menu--active .header__menu-line--04 {
  transform: translateY(50%);
  bottom: 50%;
  opacity: 0;
}

.mobile-menu__bg {
  background-color: rgba(21, 21, 21, 0.95);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-150%);
  transition: transform 300ms ease-out;
  z-index: 1;
}
.menu--active .mobile-menu__bg {
  transform: translateY(0);
  transition-delay: 300ms;
}
.menu--active[data-menu-button-type=scroll] .mobile-menu__bg {
  transform: translateY(80px);
}

.mobile-menu {
  align-items: center;
  -webkit-animation: none;
          animation: none;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  overflow: auto;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 80px;
  z-index: 2;
}
.menu--active .mobile-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
}
@media (min-width: 800px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__link {
  display: block;
  font-family: "Akzidenz-Grotesk BQ Extended Bold";
  font-size: 7vh;
  font-size: 24px;
  line-height: 1.4;
  margin: 0;
  opacity: 0;
  transition: all 300ms ease-out;
  transform: translate3d(0, 30px, 0);
}
.menu--active .mobile-menu__link {
  opacity: 1;
  transform: translateY(0);
}
.menu--active .mobile-menu__link:nth-of-type(1) {
  transition-delay: 450ms;
}
.menu--active .mobile-menu__link:nth-of-type(2) {
  transition-delay: 500ms;
}
.menu--active .mobile-menu__link:nth-of-type(3) {
  transition-delay: 550ms;
}
.menu--active .mobile-menu__link:nth-of-type(4) {
  transition-delay: 600ms;
}
.menu--active .mobile-menu__link:nth-of-type(5) {
  transition-delay: 650ms;
}
.menu--active .mobile-menu__link:nth-of-type(6) {
  transition-delay: 700ms;
}
.mobile-menu__link:hover {
  color: #151515;
}
.mobile-menu__link:hover:before {
  height: 52px;
}
.mobile-menu__link + .mobile-menu__link {
  margin: 20px auto 0;
}
@media (min-height: 500px) and (min-width: 320px) {
  .mobile-menu__link {
    font-size: 27px;
  }
}
@media (min-height: 500px) and (min-width: 420px) {
  .mobile-menu__link {
    font-size: 36px;
  }
  .mobile-menu__link + .mobile-menu__link {
    margin-top: 25px;
  }
}
@media (min-height: 600px) and (min-width: 600px) {
  .mobile-menu__link {
    font-size: 36px;
  }
}
@media (min-height: 500px) {
  .mobile-menu__link:hover:before {
    height: 70px;
  }
}

.nav-scroll {
  display: none;
}
@media (min-width: 800px) {
  .nav-scroll {
    display: block;
  }
}

.fixed-container {
  z-index: 10;
  width: 100%;
  position: fixed;
  bottom: 40px;
}
.fixed-container .wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  position: relative;
  width: 81.25%;
}

.btn-scroll, .btn-top {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-decoration: none;
  transform: rotate(90deg) translate(0%, 100%);
  transform-origin: 100% 100%;
}
.btn-scroll.disabled, .btn-top.disabled {
  pointer-events: none;
}